parameters:
	reportUnmatchedIgnoredErrors: false
	paths:
		- src
		- tests/CriticalSectionTests
	excludes_analyse:
		- vendor/*
		- temp/*
		- src/CriticalSection/Driver/RedisDriver.php
	ignoreErrors:
		- '#.*Redis::.*#'
